body{
    margin: 0;
    background: black;
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
  }

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }

.square{
  height: 180;
  width: 800;
  background-color: blueviolet;
}