body{
    margin: 0;
    background: gray;
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
  }

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkgreen;
  }

.square{
  height: 664;
  width: 1640;
  background-color: red;
}